*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
body {
    font-family: 微软雅黑, Arial;
    font-size: 12px;
    padding: 0px;
    background-color: transparent;
    position: relative;
}

.padding_bottom_20{padding-bottom: 20px}
.blod{font-weight: bold}
.float-right{float: right;}
.float-left{ float: left;}
.clear{clear: both}


.header-nav{
    display: inline-block;
    vertical-align: top;
    min-width: 100%;
    height: 52px;
    font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Tahoma, sans-serif;
    position: relative;
}

.header-nav .header-find{
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.18);
    z-index: 10;
}

.header-nav .header-find .nav-wrap {
    height: 32px;
    padding: 10px 0px;
    overflow: visible;
    position: relative;
}

.content {
    min-width: 1080px;
    width: 1080px;
    margin: 0 auto;
}

.header-nav .header-find .nav-wrap button {
    background-color: #e6e6e6;
    color: #000;
}

.header-nav .header-find .nav-wrap button:hover{
    background-color: #5fa134;
    color: #fff;
}

.hmunber{
    display: inline-block;
    position: relative;
    bottom: -7px;
    left: 10px;
    font-size: 12px;
}
.hmunber span{
    color: red;
    font-weight: bold;
}
.blueff:link{
    color: #3366CC;
    text-decoration: underline;
}

#registr{
    background-color: #5fa134;
    color: #fff;
}

#registr:hover{
    background-color: #40782a;
    color: #fff;
}

.l_button {
    text-align: center;
    position: relative;
}

.r_button {
    line-height: 32px;
    position: relative;
}

.l_button button {
    height: 32px;
    width: 58px;
    line-height: 32px;
    padding: 0 16px;
}
.r_button button {
    height: 32px;
    width: 58px;
    line-height: 32px;
    padding: 0 16px;
    margin-left: 9px;
}

.r_button i {
    font-size: 17px;
    color: #498530;
    position: absolute;
    left: -20px;
    bottom: -1px;
}
.app-banner {
    clear: both;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    overflow: hidden;
}

.app-banner:after, .app-banner:before {
    content: '';
    display: table;
}

.w-bar-100 {
     width: 100%;
 }

.app-banner img {
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
}

.app-banner img:hover{
    transform: scale(1.1);
}

.data-null {
    font-size: 18px;
    text-align: center;
    color: #bababa;
    margin: 90px 0 95px;
}